<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow sticky-top">
  <div class="container">
    <!-- Left Section: Logo -->
    <a class="navbar-brand logo fs-1 fs-sm-5" routerLink="/">
      <fa-icon [icon]="faIcon"></fa-icon> Romiis
    </a>

    <!-- Hamburger Menu for Mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Center Section: Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
        <li class="nav-item">
          <a class="nav-link fs-5 fs-sm-6" routerLink="/home" routerLinkActive="active">{{ 'NAVBAR.HOME' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fs-sm-6" routerLink="/about" routerLinkActive="active">{{ "NAVBAR.ABOUT" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fs-sm-6" routerLink="/technologies" routerLinkActive="active">{{ "NAVBAR.TECHNOLOGIES" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fs-sm-6" routerLink="/projects" routerLinkActive="active">{{ "NAVBAR.PROJECTS" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fs-sm-6" routerLink="/contact">{{ "NAVBAR.CONTACT" | translate}}</a>
        </li>
      </ul>

      <!-- Right Corner: Language Switcher -->
      <div class="navbar-nav">
        <li class="nav-item dropdown">
          <button
            class="btn language-switcher dropdown-toggle"
            type="button"
            id="languageDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <fa-icon [icon]="faGlobe"></fa-icon>
            {{ currentLanguage === 'en' ? 'EN' : 'CZ' }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="languageDropdown">
            <li>
              <a class="dropdown-item" (click)="switchLanguage('en')" [class.active]="currentLanguage === 'en'">
                <img ngSrc="assets/flags/en.svg" alt="English" class="flag-icon" height="32" width="32"> English
              </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="switchLanguage('cs')" [class.active]="currentLanguage === 'cs'">
                <img ngSrc="assets/flags/cs.svg" alt="Czech" class="flag-icon" height="64" width="64"> Čeština
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>
