<nav class="navbar">
  <div class="navbar-left">
    <a class="logo" routerLink="/"><fa-icon [icon]="faIcon"></fa-icon>   Romiis   </a>
  </div>
  <div class="navbar-center">
    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About Me</a></li>
      <li><a routerLink="/technologies" routerLinkActive="active">Technologies</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
    </ul>
  </div>
  <div class="navbar-right">
    <a class="contact-button" routerLink="/contact">Contact Me</a>
  </div>
</nav>
