<div class="about-page">
  <div class="about-section container">
    <!-- Title - Large on desktop, smaller on mobile -->
    <h1 class="about-title fs-1 fs-sm-2">{{ 'ABOUT.TITLE' | translate }}</h1>

    <!-- Description - Medium on desktop, smaller on mobile -->
    <p class="about-description fs-4 fs-sm-5">
        {{ 'ABOUT.DESCRIPTION' | translate }}
    </p>

    <!-- Details Section -->
    <div class="about-details row">
      <!-- Biography Section -->
      <div class="col-12 mb-4">
        <h2 class="about-subtitle fs-2 fs-sm-3">{{ 'ABOUT.BIOGRAPHY.TITLE' | translate }}</h2>
        <p class="fs-5 fs-sm-6">
          {{ 'ABOUT.BIOGRAPHY.DESCRIPTION' | translate }}
        </p>
      </div>

      <!-- Hobbies Section -->
      <div class="col-12 mb-4">
        <h2 class="about-subtitle fs-2 fs-sm-3">{{ 'ABOUT.HOBBIES.TITLE' | translate }}</h2>
        <p class="fs-5 fs-sm-6">
            {{ 'ABOUT.HOBBIES.DESCRIPTION' | translate }}
        </p>
      </div>

      <!-- Pets Section -->
      <div class="col-12 mb-4">
        <h2 class="about-subtitle fs-2 fs-sm-3">{{ 'ABOUT.PETS.TITLE' | translate }}</h2>
        <p class="fs-5 fs-sm-6">
          {{ 'ABOUT.PETS.DESCRIPTION' | translate }}
        </p>
      </div>

      <!-- Experience Section -->
      <div class="col-12 mb-4">
        <h2 class="about-subtitle fs-2 fs-sm-3">{{ 'ABOUT.WORK.TITLE' | translate }}</h2>
        <p class="fs-5 fs-sm-6">
          {{ 'ABOUT.WORK.DESCRIPTION' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
