<div class="technologies-page min-vh-100">
  <div class="container py-5">
    <div class="technologies-section p-4">
      <h1 class="technologies-title text-center mb-5">{{ 'TECHNOLOGIES.TITLE' | translate }}</h1>
      <div class="technologies-categories">
        <div class="technology-category mb-5" *ngFor="let category of technologyCategories">
          <h2 class="category-title mb-4">{{ category.category | translate }}</h2>
          <div class="technologies-grid row g-4 ">
            <div class="col-6 col-sm-4 col-md-3 col-xl-2" *ngFor="let tech of category.technologies">
              <a
                class="technology-card h-100"
                [href]="tech.url"
                target="_blank"
                rel="noopener noreferrer"
              >
                <div class="card-glow"></div>
                <div class="card-content align-items-center">
                  <fa-icon *ngIf="tech.icon" [icon]="tech.icon" class="technology-icon "></fa-icon>
                  <div class="card-divider"></div>
                  <p class="technology-name">{{ tech.name }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
