<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2024 Romis. All rights reserved.</p>
    <div class="social-links">
      <a href="https://www.instagram.com/romis_pejs" target="_blank" aria-label="Instagram">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      </a>
      <a href="https://github.com/Romiiis" target="_blank" aria-label="GitHub">
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
      </a>
      <a href="https://open.spotify.com/user/215yygk2zr3r7pavfbz2rprhy?si=5539c9a3ab7f434b" target="_blank" aria-label="Spotify">
        <fa-icon [icon]="['fab', 'spotify']"></fa-icon>
      </a>
    </div>
  </div>
</footer>
