/* Footer Styles */
.footer {
  background-color: #161b22;
  color: #c9d1d9;
  text-align: center;
  padding: 0.2rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer-content p {
  margin: 0;
}


@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

/* Social Links */
.social-links {
  display: flex;
  gap: 2.2rem;
  margin-top: 0.7rem;
}

.social-links a {
  color: #c9d1d9;
  font-size: 1.9rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
  color: #58a6ff;
  transform: scale(1.1);
}
