<div class="home-container">
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>

  <div class="content-wrapper">
    <h1 class="title"><i class="fas fa-terminal"></i> Romiiis</h1>
    <p class="subtitle">{{ "HOME.SUBTITLE" | translate }}</p>
    <div class="buttons">
      <a routerLink="/projects" class="btn">{{ "HOME.PROJECTS_BTN" | translate }}</a>
      <a routerLink="/contact" class="btn secondary">{{ "HOME.CONTACT_BTN" | translate }}</a>
    </div>
  </div>
</div>
