<footer class="footer">
  <div class="footer-container">

    <div class="footer-center">
      <div class="footer-icons">
        <a href="https://github.com/romiiis" target="_blank" aria-label="GitHub">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://linkedin.com/in/romiiis" target="_blank" aria-label="LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://instagram.com/romis_pejs" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://open.spotify.com/user/215yygk2zr3r7pavfbz2rprhy?si=19d70a9d151d4f74" target="_blank" aria-label="Spotify">
          <i class="fab fa-spotify"></i>
        </a>
        <a href="mailto:romispejs@gmail.com" aria-label="E-mail">
          <i class="fas fa-envelope"></i>
        </a>
      </div>

      <p class="footer-copy">&copy; {{ currentYear }} Romiiis. {{ "FOOTER.COPYRIGHT" | translate}}</p>

    </div>

  </div>
</footer>
